//variables go here

$bg-primary: #232931;
$bg-seconday: #393e46;
$bg-seconday-light: #474c55;
$primary: #ffffff;
$secondary: #4ecca3;
$bg-danger: #c41515;
$bg-danger-light: #da1a1a;

//fonts
@font-face {
  font-family: Function Regular;
  src: url(~@/assets/functionregular.ttf);
}

//styles go here
:root,
#app {
  background-color: #232931;
  color: white;
  line-height: normal;
  font-family: Function Regular;
}
a {
  color: unset;
  text-decoration: none !important;
  &:hover {
    color: unset;
    text-decoration: none;
  }
}

.e-btn {
  background: $bg-seconday;
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: $secondary;
  display: inline-block;
  &:hover {
    color: $secondary;
    background-color: $bg-seconday-light;
  }
  &:focus {
    outline: none;
  }
  &:not([href]) {
    cursor: pointer;
    color: $secondary;
    text-decoration: none;
  }
  &:not([href]):hover {
    color: $secondary;
    text-decoration: none;
  }
}
.e-btn-danger {
  background: $bg-danger;
  border-radius: 2px;
  border: none;
  padding: 7px 10px;
  margin: 5px;
  color: $primary;
  display: inline-block;
  &:hover {
    color: $primary;
    background-color: $bg-danger-light;
  }
  &:focus {
    outline: none;
  }
  &:not([href]) {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
  }
  &:not([href]):hover {
    color: $primary;
    text-decoration: none;
  }
}

.attention {
  &::before {
    content: "";
    padding: 0.5px 30px;
    background-color: $secondary;
    position: absolute;
  }
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: $bg-seconday;
  border: none;
  color: white;
  &:focus {
    background-color: $bg-seconday;
    outline: none !important;
    box-shadow: none;
    color: white;
  }
}
.card {
  background-color: $bg-seconday !important;
  .e-btn {
    padding: 4px 10px;
  }
}
