//variables go here

$bg-primary: #232931;
$bg-seconday: #393e46;
$bg-seconday-light: #474c55;
$primary: #ffffff;
$secondary: #4ecca3;
$bg-danger: #da1a1a;
$bg-danger-light: #cc1515;
$bg-success: #63d363;
$bg-success-secondary: #43b943;
//fonts
@font-face {
  font-family: Function Regular;
  src: url(~@/assets/functionregular.ttf);
}

//styles go here
:root,
#app {
  background-color: $bg-primary;
  color: white;
  line-height: normal;
  font-family: Function Regular;
}
a {
  color: unset;
  text-decoration: none !important;
  &:hover {
    color: unset;
    text-decoration: none;
  }
}

.e-btn {
  background: $bg-seconday;
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: $secondary;
  display: inline-block;
  &:hover {
    color: $secondary;
    background-color: $bg-seconday-light;
  }
  &:focus {
    outline: none;
  }
  &:not([href]) {
    cursor: pointer;
    color: $secondary;
    text-decoration: none;
  }
  &:not([href]):hover {
    color: $secondary;
    text-decoration: none;
  }
  &:disabled {
    background-color: $bg-seconday-light;
    cursor: not-allowed;
  }
}

.e-btn-sm {
  padding: 7px 10px;
}
.e-btn-danger {
  background: $bg-danger;
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: $primary;
  display: inline-block;
  &:hover {
    color: $primary;
    background-color: $bg-danger-light;
  }
  &:focus {
    outline: none;
  }
  &:not([href]) {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
  }
  &:not([href]):hover {
    color: $primary;
    text-decoration: none;
  }
  &:disabled {
    background-color: $bg-danger-light;
    cursor: not-allowed;
  }
}

.attention {
  &::before {
    content: "";
    padding: 0.5px 30px;
    background-color: $secondary;
    position: absolute;
  }
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: $bg-seconday;
  border: none;
  color: white;
  &:focus {
    background-color: $bg-seconday;
    outline: none !important;
    box-shadow: none;
    color: white;
  }
}
.card {
  background-color: $bg-seconday !important;
  .e-btn {
    padding: 4px 10px;
  }
}

.notification {
  display: none;
  position: fixed;
  z-index: 20000 !important;
  width: 300px;
  top: 10px;
  right: 30px;
  border-radius: 2px;
  animation: notifyanim 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  span {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .title {
    border-radius: 2px;
    font-size: 20px;
  }
}
.suc {
  display: block !important;
  background-color: $bg-success;
  .title {
    background-color: $bg-success-secondary;
  }
}
.err {
  display: block !important;
  background-color: $bg-danger;
  .title {
    background-color: $bg-danger-light;
  }
}
@keyframes notifyanim {
  from {
    transform: translate(-100px, 0);
    opacity: 0;
  }
  10% {
    transform: translate(20px, 0);
  }
  12% {
    transform: translate(22px, 0);
  }
  16% {
    transform: translate(20px, 0);
    opacity: 1;
  }
  80% {
    transform: translate(20px, 0);
    opacity: 1;
  }
  85% {
    transform: translate(25px, 0);
    opacity: 1;
  }
  to {
    transform: translate(-200px, 0);
    opacity: 0;
  }
}
@keyframes modalanim {
  from {
    transform: translate(0, -200px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 10px);
    opacity: 1;
  }
}

.modal-wrap {
  display: none;
  top: 20%;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 20000;
}
.modAct {
  display: block !important;
}
.v-modal {
  position: relative;
  background-color: #222222e7;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  width: 300px;
  margin: 10px;
  animation: modalanim 0.5s;
  animation-fill-mode: forwards;
  /*   animation-iteration-count: infinite;
 */
  .modal-img img {
    display: block;
    margin: auto;
    width: 50px;
  }
}
